SQLAlchemy<1.1.0,>=1.0.10 # MIT
alembic>=0.8.4 # MIT
neutron-lib>=0.2.0 # Apache-2.0
oslo.concurrency>=3.8.0 # Apache-2.0
oslo.config>=3.10.0 # Apache-2.0
oslo.db>=4.1.0 # Apache-2.0
oslo.middleware>=3.0.0 # Apache-2.0
mysql-python==1.2.5
Routes!=2.0,!=2.1,!=2.3.0,>=1.12.3;python_version=='2.7' # MIT
Routes!=2.0,!=2.3.0,>=1.12.3;python_version!='2.7' # MIT
aiclib
click>=6.6
docopt==0.6.2
gunicorn==19.3.0
pymysql==0.6.6
twiceredis>=2.0.0

# agent deps
xenapi==1.2

# Pulls latest neutron, but it should be pinned in packaged deploys
http://tarballs.openstack.org/neutron/neutron-master.tar.gz#egg=neutron
