SQLAlchemy>=0.7.8,<0.7.99
alembic
oslo.config
zope.sqlalchemy
mysql-python
http://tarballs.openstack.org/quantum/quantum-master.tar.gz#egg=quantum
aiclib

# NOTE(jkoelker) not technically required, but something has to commit
#                the transactions. in the future this should be the
#                quantum wsgi service
repoze.tm2
